@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}














.container {
    width: 100vw;
    height: 100vh;
    background-image: url(./imagens/capahome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body, ul, li p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.menu  {
display: flex;
}

.menu li {
    margin-left:  10px;

}
.menu li  a {
    display: block;
    padding:20px;
    margin-right: 10px;
   
}

.logosite{

 position: relative;
 margin-left: 100px;
 padding: 0;
 align-items: center;
}
.logosite img{
 width:183px;
 height: 83px;
 margin: 0;
 border:0px;
}


/* slides*/
.slider {
    margin: 0 auto;
    width: 1200px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 600%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;

}

.slide img{
    margin: auto;
    width: 1200px;

}

.manual-navigation {
   position:absolute;
   width: 800px;
   margin-top: -40px;
   display: flex;
   justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: red;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: red;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: red;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: red;
}

.master{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 1000px
    
    
}
.master img{
    width: 100%;
}

.animes-recentes{
    background-color: blue;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: #FFF;
    border: 1px solid black;
    border-bottom: #CF3C3F;
    border-radius: 5px;
}

.ver-mais{
    background-color: #1B77F3;
    padding: 10px;
    border-radius: 5pxpx;
}

.ver-mais button{
    margin-left:850px;
    background-color: #FFF;
    border: none;
    width: 90px;
    height: 20px;
}
.ver-mais button:hover{
    background-color: #CF3C3F;
}












/*----------------------------------------------------------- tela loguin--------------------------------------------------------*/
#loguin_buttonhome {
    display: flex;
    border-radius: 50px;

}

#loguin_buttonhome :hover {
    padding: 10px;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    ;
    background-color: #1B77F3;
    border-radius: 50px;


}

#botaologo {
    text-decoration: none;
    padding: 10px;


}

:root {
    --white: #FFF;
    --whitesmoke: #F9F9F9;
    --light-grey: #ECECEC;
    --grey: #C4C4C4;
    --medium-grey: #A7A7A7;
    --deep-grey: #343434;
    --black: #000000;
    --blue: #1B77F3;
    --red: #CF3C3F;
}

main {
    display: flex;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
    /* (usa-se para limitar parte impedindo dela
    ir muito clamp(min, preferencia, max)*/
    /* */

}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_logo {
    width: 130px;
    margin-bottom: 80px;


}

.login_title {
    color: var(--deep-gre--);
    font-size: 1.5em;
    margin-bottom: 30px;
    /* espaço entre tirulo e input*/

}

.login_label {

    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.input {
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgba(0, 0, 0, 0);
    /* soluciona problema da borda que come px e expande a caixa de baixo
dando efeito feito, precisa do rgba para dar efeito trasnparente quando clica e chama 
a boder do unput:focus*/
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}

.login_label span {
    position: absolute;
    /* puxa pro centro o texto (caixinha sei la)*/
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;
    /* mudar curdor pra tipo texto quando passar em cima*/
    transition: all 200ms ease;
}

input:focus {
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);

}

.login_label .span-active {
    font-size: 0.7em;
    margin: 8px 10px;
}

.login_icons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 20px;

}

.login_icons img {
    width: 20px;
}

.icons_button {

    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}


/* cores dos botoes filho 1  filho 2  e filho 3 dos login icon que no
  caso são os icons button*/
.login_icons .icons_button:nth-child(1) {
    background-color: var(--blue);
}

.login_icons .icons_button:nth-child(2) {
    background-color: var(--black);
}

.login_icons .icons_button:nth-child(3) {
    background-color: var(--light-grey);
}

.login_label--checkbox {

    width: 100%;
    margin: 15px 0 50px;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    align-items: center;

}

.input--checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--light-grey);
    margin-right: 8px;
    border-radius: 3px;

}

.input--checkbox:checked {
    background-color: var(--red);
}

.input--checkbox:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: 3px solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 2px 6px;
}

.login_button {
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;

}

.login_button .svg {
    fill: white;
}

.login_button:disabled {
    cursor: auto;
    background-color: white;
    border: 2px solid var(--light-grey);
}

.login_button:disabled svg {
    fill: var(--grey);
}


.login_link {
    font-size: 0.8em;
    text-decoration: none;
    color: var(--medium-grey);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
}


.wallpaper {
    width: 100%;
    background-image: url('./imagens/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;

}


/*-----------------------------tela cadastro------------------------------------------------------------------------------*/

#tela__cadastro  {
width: 100vw;
height: 100vh;
  background-size: cover;
   background: linear-gradient(0, #120c56, #000000);
   color: white;
}

#tela__cadastro h1{
    color: white;
    text-align: center;
    margin-top: 20px;
}

/*--------------------- pag motivacional---------------------------*/
#motivacional{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
color: #555;
}
.top-bar img{
    width: 100px;
margin: auto;

}
.top-bar{
    background-color: #343434;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 0px;
    border-bottom: 5px solid #fd8a24;
 
  
}


.container-motivacional{
max-width: 888px;
margin: auto;
padding: 30px;
}

.header-motv{

}

.headline{
font-size: 56px;
line-height: 64px;
color: #111;
margin-bottom: 10px;
}
.sub-motv{
    font-weight: normal;
    font-size: 24px;
    color: #111;
    margin-bottom: 15px;
}

.author-motv{
font-weight: bold;
font-size: 0.8em;

}

.social-icons{
    margin-top: 10px;
}

.social-icon{
    width: 30px;
    padding: 10px 10px 10px 0;



}

.content-motv{
    max-width: 648px;
    margin: auto;
    
}

.p-mt{
    font-size: 20px;
    line-height: 32px;
    text-align: justify;
}

.figure-mtv{
    padding: 0;
    margin: 20px 0;
    font-size: 12px;

}


figure>img{
    margin-top: 10px;
width: 100%;
}
.list-mtv{
    margin-top: 10px;
    list-style-type:disc;
    text-align: justify;
}
.sub-mtv2{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}
#img-mtv0{
    width:600px;
}
#img-mtv1{
   width: 400px;
}
#img-mtv2{
    width: 600px;
 }#img-mtv3{
    width: 500px;
 }#img-mtv4{
    width: 500px;
 }

.footer-mtv{
    background-color:  #333;

}
.img-footer img{
    margin-top: -10px;
    width: 100px;
}
.footer-overanimes{
    padding: 10px;
    color: #FFF;
    font-size: 10px;
    margin-left: 20px;
}
.creditos{
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-size: 15px;


}
.creditos a{
    color: violet;
}